<launch>

  <include file="$(find sekonix_camera)/launch/multi_gmsl_port_a.launch"/>

  <include file="$(find sekonix_camera)/launch/multi_gmsl_port_b.launch"/>

  <include file="$(find sekonix_camera)/launch/multi_gmsl_port_c.launch"/>

  <include file="$(find sekonix_camera)/launch/multi_gmsl_port_d.launch"/>

</launch>