<launch>
  <!-- gmsl multiple cameras run -->

  <remap from="port_0/camera_0" to="cam_on_orta"/>


  <arg name="cam_calib_folder" default="$(find sekonix_camera)/calib/" />
  <node pkg="sekonix_camera" type="sekonix_camera_node" name="sekonix_camera_node" output="screen">
    <param name="image_width" value="1920" />     <!-- image raw resize only -->
    <param name="image_height" value="1208" />    <!-- image raw resize only -->
    <param name="image_buffer" value="10" />
    <param name="image_compressed" value="true" type="bool" />  <!-- publish compressed original size -->
    <param name="calib_folder" value="$(arg cam_calib_folder)/" />
    <param name="type_a" value="ar0231-rccb-bae-sf3324" type="str" />
    <param name="type_b" value="ar0231-rccb-bae-sf3324" type="str" />
    <param name="type_c" value="ar0231-rccb-bae-sf3324" type="str" />
    <param name="type_d" value="ar0231-rccb-bae-sf3324" type="str" />
    <param name="selector_mask" value="1111111111000000" type="str" /> <!-- |A3210|B3210|C3210| e.g 011101110011 -->
    <param name="cross_csi_sync" value="1" type="str" />
    <param name="fifo_size" value="3" type="str" />
    <param name="slave" value="0" type="str" />
  </node>

</launch>

